{% extends "_base.html" %}
{% block head %}
{% endblock %}
{% block main %}
    <script type="text/javascript">
        const resizeObserver = new ResizeObserver((_) => {
            window.scrollTo(0, document.body.scrollHeight);
        });
        resizeObserver.observe(document.body);
    </script>

    <section class="fetcher-progress-log">
        {% for data in output %}
            {{ data | safe }}
        {% endfor %}
    </section>


    <form action="/" method="GET" class="bottom-form">
        <input type="Submit" value="Done!">
    </form>
{% endblock %}

{% block js-post %}
    <script type="text/javascript">
        const resizeObserver = new ResizeObserver((_) => {
            window.scrollTo(0, document.body.scrollHeight);
        });
        resizeObserver.observe(document.body);
    </script>
{% endblock %}