{% extends "_base.html" %}
{% block head %}
{% endblock %}
{% block main %}
<script type="text/javascript">
    const resizeObserver = new ResizeObserver((_) => {
        window.scrollTo(0, document.body.scrollHeight);
    });
    resizeObserver.observe(document.body);
</script>

<section class="video-meta">
    {% if metadata %}
    {% if metadata.thumbnail_url %}
        <img class="thumbnail" src="{{ metadata.thumbnail_url }}">
    {% endif %}

    <hgroup>
      <h2><a href="{{ metadata.url }}">{{ metadata.name }}</a></h2>
      <ul class="metadata-list">
          <li><a href="{{ metadata.author_url }}">{{ metadata.author }}</a></li>
          <li>{{ metadata.ts_upload.strftime('%d/%m/%Y') }}</li>
          <li>{{ metadata.duration|duration }}</li>
          <li>{{ metadata.format }}</li>
      </ul>
    </hgroup>
    {% else %}
        <hgroup>
            <h2>Unknown media</h2>
        </hgroup>
    {% endif %}
</section>

<pre>
    <span>Using the <b>{{ fetcher.name }}</b> fetcher.</span>
    {% for line in output %}
    <span>{{ line | safe }}</span>
    {% endfor %}
</pre>

<form action="/" method="GET" class="bottom-form">
    <input type="Submit" value="Done!">
</form>
{% endblock %}
