{% extends "_base.html" %}
{% block head %}
{% endblock %}
{% block main %}
    <script type="text/javascript">
        const resizeObserver = new ResizeObserver((_) => {
            window.scrollTo(0, document.body.scrollHeight);
        });
        resizeObserver.observe(document.body);
    </script>
    <h1>Slug <kbd>🐌{{ fetch.slug }}</kbd> {{ fetch.status.value }}</h1>
    <h2>Job ID <code title="{{ fetch.pk }}">🥤{{ fetch.pk[-4:] }}</code></h2>
    <h3>📆 Created {{ fetch.ts_created.strftime('%Y-%m-%d %H:%M') }}</h3>

    {% include "elements/media.html" %}

    {% if fetch.pruned %}
        {% if fetch.purged %}
            <span>This task has been <b>PURGED</b> - output data and logs are not available.</span>
        {% else %}
            <span>This task has been <b>PRUNED</b> - output data has been destroyed.</span>
        {% endif %}
    {% endif %}
    <section id="fetcher-log" class="fetcher-progress-log">
        <h3>Fetch Log:</h3>
        {% for data in fetchLog %}
            <div class="fetcher-progress-message">
                {% if data.typ == "created" %}
                    <div class="fetcher-progress-message-level-success">🛫 Fetch job started
                        at {{ data.ts_created }}</div>
                {% elif data.typ == "log" %}
                    <div class="fetcher-progress-message-level-{{ data.level }}">
                        {% if data.level == "error" %}
                            ⚠️ {{ data.message | safe }}
                        {% else %}
                            → {{ data.message | safe }}
                        {% endif %}
                    </div>
                {% elif data.typ == "purge" %}
                    <div class="fetcher-progress-message-level-error">{{ data.message | safe }}</div>
                {% else %}
                    <div class="fetcher-progress-message-level-info">{{ data.message | safe }}</div>
                {% endif %}

            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block tail %}
    <script type="text/javascript">
        const resizeObserver = new ResizeObserver((_) => {
            window.scrollTo(0, document.body.scrollHeight);
        });
        resizeObserver.observe(document.body);
    </script>
{% endblock %}

{% block script %}
    <script>
        var source = new EventSource("{{ url_for('sse.stream') }}");
        const eventList = document.getElementById("fetcher-log");
        source.addEventListener('created_data', function (event) {
            var data = JSON.parse(event.data);
            console.log("created", data);
            const l = document.createElement("div")
            l.classList = "fetcher-progress-message"
            const li = document.createElement("div")
            li.classList = "fetcher-progress-message-level-" + data.level
            li.textContent = data
            l.appendChild(li)
            eventList.appendChild(l)
        }, false);
        source.addEventListener('message', function (event) {
            var data = JSON.parse(event.data);
            console.log("message", data);
            const l = document.createElement("div")
            l.classList = "fetcher-progress-message"
            const li = document.createElement("div")
            li.classList = "fetcher-progress-message-level-" + data.level
            const jewel = (data.level !== 'error') ? "→" : "⚠️";
            li.textContent = jewel + " " + data.message
            l.appendChild(li)
            eventList.appendChild(l)
        }, false);
        source.addEventListener('status', function (event) {
            var data = JSON.parse(event.data);
            console.log("status", data);
            const l = document.createElement("div")
            l.classList = "fetcher-progress-message"
            const li = document.createElement("div")
            li.classList = "fetcher-progress-message-level-" + data.level
            li.textContent = data.message
            l.appendChild(li)
            eventList.appendChild(l)
        }, false);
        source.onmessage = (event) => {
            var data = JSON.parse(event.data);
            console.log(data);
        };
        source.addEventListener('error', function (event) {
            alert("Failed to connect to the Slurp backend.");
        }, false);
    </script>
{% endblock %}