{% extends "_base.html" %}
{% block main %}
<h1>YouTube Download and Ingest</h1>

<form>
  {% macro render_field(field) %}
    {{ field(**kwargs) }}
    {% if field.errors %}
    <small id="{{ field.id }}-errors">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </small>
    {% endif %}
  {% endmacro %}

  {{ render_field(form.url, placeholder="URL", aria_label="URL") }}
  {{ render_field(form.slug, placeholder="Slug", aria_label="Slug") }}
  {{ render_field(form.format, aria_label="Select an output format") }}
  {{ render_field(form.directory, aria_label="Select an output directory") }}

  {{ form.hidden_tag() }}
  <input type="submit" value="Preview">
</form>
{% endblock %}
