{% extends "_base.html" %}
{% block main %}
    <h1>🥤 Slurp</h1>
    <h4>A Web Media Download and Ingest utility</h4>

    <form id="requestFetch" action="{{ url_for('api.task_list') }}" method="POST">
        {% macro render_field(field) %}
            {{ field(**kwargs) }}
            {% if field.errors %}
                <small id="{{ field.id }}-errors">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </small>
            {% endif %}
        {% endmacro %}

        {{ render_field(form.url, placeholder="🌐 URL", aria_label="URL") }}
        {{ render_field(form.slug, placeholder="🐌 Slug", aria_label="Slug") }}
        {{ render_field(form.format, aria_label="✍️ Select an output format") }}
        {{ render_field(form.target, aria_label="📁 Select a target output directory") }}

        {{ form.hidden_tag() }}
        <button type="submit">🥤 Slurp Media</button>
    </form>
    <article>
        <h6>The following fetchers are supported:</h6>
        <ul>
            {% for f in fetchers %}
                <li>
                    <b>{{ f.name }}</b>:
                    <ul>
                        {% for n in f.service_names %}
                            <li>{{ n }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </article>
    <article>
        <h6>Last 10 Slurps:</h6>
        <ul>
            {% for task in allTasks %}
                <li>
                    <a href="{{ url_for('main.fetch_info', id=task.pk) }}"><b><kbd>🐌{{ task.slug }}</kbd></b></a>
                    <code title="Job ID: {{ task.pk }}">🥤{{ task.pk[-4:] }}</code>
                    <a href="{{ url_for('main.fetch_info', id=task.pk) }}">👀 Details...</a>
                    <ul>
                        {% if task.purged %}
                            <li>
                                <i>🪓 {{ task.status.value }} task <b>PURGED</b> due to age</i>
                            </li>
                        {% else %}
                            {% if task.pruned %}
                                <li>✂️ <b>PRUNED</b> (output file removed)</li>
                            {% endif %}
                            <li>📆 Created {{ task.ts_created.strftime('%Y-%m-%d %H:%M') }}</li>
                            <li>🌐 {{ task.url }}</li>
                            <li>✈️ Task <b>{{ task.status.value }}</b></li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </article>
    <article style="text-align: center">Slurps will be pruned after {{ config.PRUNE_AFTER }} hours, and purged
        after {{ config.PURGE_AFTER }} hours
    </article>
{% endblock %}

{% block script %}
    <script>
        const form = document.getElementById('requestFetch');
        form.addEventListener('submit', (event) => {
            // Catch the form submission, and inhibit the normal submission pipeline
            event.preventDefault();
            const formData = new FormData(form);
            // If the form is already submitting, do nothing
            if (form.hasAttribute('data-submitting')) return;
            // Add the [data-submitting] attribute to stop multiple submissions
            form.setAttribute('data-submitting', '');
            fetch('{{ url_for('api.task_list') }}', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // Code to handle the server response
                    console.log('Sucessful request: ', data)
                    // Clear form
                    form.reset()
                    alert("Fetch successfully requested.")
                    window.location.reload()
                })
                .catch(error => {
                    console.error('Request error:', error)
                    alert("Issue requesting slurp: " + error)
                }).finally(() => {
                    form.removeAttribute('data-submitting')
                }
            )
            ;
        });
    </script>
{% endblock %}