{% extends "_base.html" %}
{% block main %}
<article>
  <header>
    <hgroup>
      <h2><a href="{{ metadata.url }}">{{ metadata.name }}</a></h2>
      <p>
        by <a href="{{ metadata.author_url }}">{{ metadata.author }}</a>
        · {{ metadata.ts_upload.strftime('%d/%m/%Y') }}
        · {{ metadata.duration|duration }}
        · {{ metadata.format }}
      </p>
    </hgroup>
  </header>

  {% if metadata.thumbnail_url %}
    <img src="{{ metadata.thumbnail_url }}">
  {% endif %}
</article>

<form action="/download" method="POST">
  {% macro render_field(field) %}
    <input type="hidden" name="{{ field.name }}" value="{{ field.data }}">
  {% endmacro %}

  {{ render_field(form.url) }}
  {{ render_field(form.slug) }}
  {{ render_field(form.format) }}
  {{ render_field(form.directory) }}

  {{ form.hidden_tag() }}
  <input type="submit" value="Fetch with {{ fetcher }}">
</form>
{% endblock %}
