{% block main %}
    <section class="video-meta">
        {% if fetch and fetch.meta %}
            {% if fetch.meta.thumbnail_url %}
                <img alt="Media thumbnail" class="thumbnail" src="{{ fetch.meta.thumbnail_url }}">
            {% endif %}

            <hgroup>
                <h2><a href="{{ fetch.meta.url }}">{{ fetch.meta.name }}</a></h2>
                <list>
                    <ul class="fetch-list">
                        <li><a href="{{ fetch.meta.author_url }}">{{ fetch.meta.author }}</a></li>
                        <li>{{ fetch.meta.ts_upload.strftime('%d/%m/%Y') }}</li>
                        <li>{{ fetch.meta.duration|duration }}</li>
                        <li>{{ fetch.meta.format }}</li>
                    </ul>
                </list>
            </hgroup>
        {% else %}
            <hgroup>
                <h2>Unknown media</h2>
            </hgroup>
        {% endif %}
    </section>
{% endblock %}